body {
  background-color: wheat;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
}


nav ul{
  display: flex;
  justify-content: center;
  position: fixed;
}

nav li:first-child {
  border-right: gray 2px solid;
}

nav li {
  border-bottom: gray 2px solid;
  padding: 5px;
  background-color: wheat;
}

nav a {
  text-decoration: none;
  color: black;
}

hr {
  margin-bottom: 50px;
  margin-top: 20px;
}